.typography {
  margin: 0;

  &_size-big {
    font: 500 40px/40px "Inter";
  }

  &_size-middle {
    font: 500 20px/20px "Inter";
  }

  &_size-middleSmall {
    font: 600 16px/16px "Inter";
  }

  &_size-middleLittle {
    font: 500 13px/13px "Inter";
  }

  &_size-small {
    font: 500 11px/11px "Inter";
  }

  &_size-little {
    font: 500 9px/9px "Inter";
  }

  &_color-disable {
    color: $colorDisable;
  }
}
