<div class="flexContainer {{className}} 
            flexContainer_justify-{{justifyContent}}    
            flexContainer_direction-{{flexDirection}} 
            flexContainer_alignItems-{{alignItems}}"
>
    {{> @partial-block}}
</div>
