<div class="inputWithItem">
  <input
    class="inputWithItem__input"
    type="{{type}}"
    name="{{name}}"
    required
  />
  <label class="inputWithItem__item">{{item}}</label>
  <label class="inputWithItem__error">{{error}}</label>
</div>
