<div class="upload-container">
  <img class="upload-container__img" src="../../assets/imgLoader.svg" />
  <button for="upload-container__input" class="upload-container__changeAvatarButton">
    Поменять<br />
    аватар
  </button>
</div>