@import "../../../../styles/index";

.params {
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid $lightColorDisable;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

  &__title {
    margin: 0;
    font:
      500 13px/13px "Inter",
      sans-serif;
  }

  &__input {
    border: none;
    color: $colorDisable;
    text-align: right;
    outline: none;
    background-color: transparent;
  }

  &:last-of-type {
    border: none;
  }

  &__error {
    color: $colorError;
    font:
      500 9px/9px "Inter",
      sans-serif;
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: -15px;
    display: block;
  }
}
