.input {
  width: 100%;
  border: none;
  outline: none;
  background: #efefef;
  border-radius: 5px;
  padding: 6px 20px;
  margin: 20px 0;
  box-sizing: border-box;

  &::placeholder {
    text-align: center;
  }

}
