$colorDisable: #999999;
$lightColorDisable: #eaeaea;
$colorPrimary: #3369f3;
$textColorLight: #ffffff;
$textColorDark: #1e1e1e;
$buttonsSelectOpacity: 0.8;
$colorError: #ff2f2f;
$popupBackground: rgba(0, 0, 0, 0.4);
