@import "../../../../styles/index";

.imgLoader {
  background: #FFF;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__fileLabel {
    font:
      500 9px/9px "Inter",
      sans-serif;
    display: block;
    margin: 0 auto 20px;
    text-align: center;
  }

  &__error {
    color: $colorError;
    font:
      500 9px/9px "Inter",
      sans-serif;
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: -15px;
    display: block;
  }

  &__form {
    position: relative;
    width: 100%;
  }

  &__inputLabel {
    display: block;
    max-width: 60%;
    font:
      500 12px/12px "Inter",
      sans-serif;
    color: $colorPrimary;
    text-align: center;
    margin: 40px auto;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      opacity: $buttonsSelectOpacity;
    }
  }

  & .exitButton {
    margin-top: 20px;
    background-color: $colorError;
  }
}

#imgLoader__input {
  position: absolute;
  width: 0.1px;
  height: 0;
  z-index: -10;
}
