{{#> center-page-template}}
  {{#> flex flexDirection="column" alignItems="center" className="loginPage"}}
    {{#> typography size="middle"}}
      Вход
    {{/typography}}
    <form class="loginPage__formWrapper">
      {{#> flex flexDirection="column" alignItems="center" className="loginPage__form"}}
        {{> inputWithItem item="Логин" name="login" type="text" error="Неверный логин"}}
        {{> inputWithItem item="Пароль" name="password" type="password" error="Заполните поле"}}
        {{#> button type="submit" className="loginPage__submitButton"}}
          Авторизоваться
        {{/button}}
      {{/flex }}
    </form>
    {{#> link url="../register/register.html" className="loginPage__link"}}
      Нет аккаунта?
    {{/link}}
  {{/flex }}
{{/center-page-template}}
