.loginPage,
.registerPage {
  width: 100%;
  max-width: 340px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  padding: 30px;

  &__formWrapper {
    width: 100%;
    margin-top: 40px;
  }

  &__form {
    gap: 15px;
  }

  &__submitButton {
    margin-top: 160px;
  }

  &__link {
    margin-top: 14px;
  }
}
