@import "../../styles/index";

.linkToPages {
  display: block;
  color: $colorPrimary;
  text-decoration: none;
  font:
    500 11px/11px "Inter",
    sans-serif;

  &:hover {
    opacity: $buttonsSelectOpacity;
  }
}
